body
{
    background-image: url("../images/res/background.jpg");
}

#soldier-photo
{
    float: left;
    margin-right: 50px;
}

#memorial-photo
{
    float: left;
    margin-right: 50px;
}

#container
{
    margin-top: 3%;
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --color0: #ffffff;
    --color1: #8c3f20;
    --color2: #6d90c9;
}

body
{
    background-image: url("../images/res/background.jpg");
}

#soldier-photo
{
    float: left;
    margin-right: 50px;
}

.info-table
{
    font-weight: bolder;
}

#soldier-name
{
    font-size: 32px;
    padding-bottom: 40px;
}

.main-btn{
    display: flex;
    height: 38px;
    justify-content: center;
    align-items: center;
    color: var(--color0);
    background-color: var(--color2);
}

.main-btn:hover{
    color: var(--color0);
    background-color: var(--color1);
}

.navbar{
    background: var(--color1);
    background: -moz-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: -webkit-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--color1), endColorstr=var(--color2), GradientType=1);
    background-size: contain;
}