body
{
    background-image: url("../images/res/background.jpg");
}

#soldier-photo
{
    float: left;
    margin-right: 50px;
}

#memorial-photo
{
    float: left;
    margin-right: 50px;
}

#container
{
    margin-top: 3%;
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.info-table
{
    font-weight: bolder;
}

#soldier-name
{
    font-size: 32px;
    padding-bottom: 40px;
}