body
{
    background-image: url("../images/res/background.jpg");
}

#container
{
    margin-top: 5%;
    margin-left: 5%;
    font-family: "Snell Roundhand", cursive, Arial, Helvetica, sans-serif;
}

/*added photo appearance animation*/
#soldier-photo
{
    float: left;
    margin-right: 50px;
    width: 35%;
    animation: appearSoldierAnim 2s ease 0s 1 normal forwards;
}

#memorial-photo{
    float: left;
    margin-right: 50px;
    width: 35%;
    animation: appearMemorialAnim 2s ease 0s 1 normal forwards;
}

/*photo appearance animation*/
@keyframes appearSoldierAnim {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }
    100% {
        opacity: 1;
		transform: translateX(0);
    }
}

@keyframes appearMemorialAnim {
    0% {
        opacity: 0.1;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		transform: scale(0.8);
    }
    100% {
        opacity: 1;
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
		transform: scale(1);
    }
}

@keyframes appearTextAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

:root{
    --color0: #ffffff;
    --color1: #8c3f20;
    --color2: #6d90c9;
}

body
{
    background-image: url("../images/res/background.jpg");
}

#soldier-photo
{
    float: left;
    margin-right: 50px;
}

#info-text, #soldier-name, #memrl-descrip
{
    animation: appearTextAnim 4s ease 0s 1 normal forwards;
}

#info-title
{
    width: 30%;
    font-weight: bold;
    animation: appearTextAnim 4s ease 0s 1 normal forwards;
}

#info-table
{
    font-size: 18px;
}

#soldier-name
{
    font-size: 34px;
    padding-bottom: 40px;
}

.main-btn, .pnt-btn{
    display: flex;
    height: 38px;
    justify-content: center;
    align-items: center;
    color: var(--color0);
    background-color: var(--color2);
}

.main-btn:hover, .pnt-btn:hover{
    color: var(--color0);
    background-color: var(--color1);
}

.navbar{
    background: var(--color1);
    background: -moz-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: -webkit-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--color1), endColorstr=var(--color2), GradientType=1);
    background-size: contain;
}